header {
    background: black;
}

.navbar {
    margin-bottom: 0px;
}

aside {
    background: white;
    color: black;
}

.clase1 {
    background: lightblue;
    color: black;
}

.navegacion1 {
    background: blue;
}

footer {
    background: white;
}

h5 {
    text-align: center;
}

.jumbotron {
    background: lightblue;
}

h2 {
    text-align: center;
}