
<div class="container login-container">
    <div class="row">
        <div class="col-md-12 login-form-1">
            <h3>Login</h3>
            <form>
                <div class="form-group">
                    <div class="col-md-7">
                    <input type="text" class="form-control" placeholder="Cédula" value="" required maxlength="10" />
                </div>
                </div>
                <div class="form-group">
                    <div class="col-md-7">
                    <input type="password" class="form-control" placeholder="Contraseña" value="" required />
                </div>
            </div>
                <div class="form-group">
                    <div class="col-md-7">
                    <input type="submit"  class="btn btn-primary" value="Login" />
                </div>
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">¿Olvido su Contraseña?</a>
                </div>
            </form>
        </div>
    </div>
</div>
