
<header id="main-header">
		
    <a id="logo-header" href="#">
        <span class="site-name">EmpresaAMK</span>
        <span class="site-desc">Diseño web / WordPress / Tutoriales</span>
    </a> <!-- / #logo-header -->
  
    <nav>
        <ul style="text-align: left;">
            <li><a href="">Inicio</a></li>
            <li><a href="">Acerca de</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </nav><!-- / nav -->
  
  </header><!-- / #main-header -->

<h2 style="margin-top: 35px; text-align: center;">Actividad del Empleado </h2>
<table class="table table-bordered" style="margin-top: 70px;text-align: center;">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Mensaje</th>
            <th scope="col">Archivo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td><input type="file" id="archivo">
                <p class="">Máximo 50 MB</p>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Thornton</td>
            <td><input type="file" id="archivo">
                <p class="">Máximo 50 MB</p>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>@twitter</td>
            <td>Thornton</td>
            <td><input type="file" id="archivo">
                <p class="">Máximo 50 MB</p>
            </td>
        </tr>

    </tbody>
</table>